.nav-list > li {

}

.messageRow:hover {
	cursor: pointer;
}

.messageRow button {
	margin-left: 3px;
	margin-right: 3px;
}

.messageRow.Unread {
	font-weight: bold;
}

.box-header {
	cursor: default !important;
}

.profileHeading {
	font-color: #777;
	font-size: 10px;
	font-weight: bold;
}

#projectApplicants td {
	text-align: center;
}

/* Calendar Event */

.fc-event {
	cursor: pointer;
}

.fc-event:hover {
	border-color: red;
	box-shadow: 0 0 5px #000;
}

.calLegend {
	display: inline-block;
	width: 20px;
	height: 20px;
}

/* loading boxes */
#loading-overlay {
	position: fixed;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 999;
	background-color: rgba( 0,0,0, .3 );
	background-image: url(../images/spinner.gif);
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
}

#soft-load > ul {
	background-color: #f0f5ff;
}

#soft-load {
	display: none;
}

/* Datetimepicker */
.datetimepicker input {
	margin-bottom: 0;
}