
/* CSS Document */
body {
    padding-top: 80px;
	background-color: #FFFFFF;
}


/* Other */
.action-btn {
    text-align:center;
    background-color:
        #000000;
    background-image: none;
    margin-top:0px;
    margin-bottom:20px;
    padding:10px;
}

/* Comment Table */
.member-avatar img {
    border: 1px solid #E3AE24;}

.comment-info {
    color:#000000;
}

/* Portlets */
.box h4.box-header {
    background-color:
        #000000;
    background-image: none;
    color:#A3792C;
}
/*Box Colors */
.box-content{
	background-color: #D1D3D4;
	overflow: auto;
}

.box .box-container-toggle {
    border-left:1px solid #E3AE24;
    border-right:3px solid #000000;
    border-bottom:1px solid #E3AE24;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.box-btn {
    border:1px solid #000000;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 0px #000000);
    -webkit-box-shadow: 0px 1px 0px #000000;
    box-shadow: 0px 1px 0px #000000;
}

/* Round Corners and text effects
----------------------------------------------------------------------------------------------------*/

.round-all {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.round-top {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-radius: 4px 4px 0 0;
}
.round-bottom {
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-radius: 0 0 4px 4px;
}
.round-left {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-radius: 4px 0 0 4px;
}
.round-right {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-radius:0 4px 4px 0;
}
/* Member Box - Side Nav */
.member-box {
    background-color:
        #D1D3D4;
    background-image: none;
}
.member-box strong {
    color: #A3792C;
}
img.member-box-avatar {
    border:1px solid #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Dashboard  */
.box ul.dashboard-statistics li, ul.dashboard-member-activity li {
    border-bottom: 1px solid #E3AE24;
    border-top: 1px solid #000000;
}

/*.red {
    color:#B94A48;
}
.green {
    color:#468847
}
.yellow {
    color:#F89406
}
.blue {
    color:#3A87AD;
}
*/
img.dashboard-member-activity-avatar {
    border:1px solid #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Calendar */
.fc-state-default .fc-button-effect span {
    background-color:
        #000000;
    background-image: none;
}

/* Show Grid */
.show-grid [class*="span"] {
    background: none repeat scroll 0 0 #000000;
    border-radius: 4px 4px 4px 4px;
}

.show-grid:hover [class*="span"] {
    background: none repeat scroll 0 0 #000000;
}

.show-grid .show-grid [class*="span"] {
    background-color: #000000;
}